{% extends 'base.html' %}

{% block title %}Formulario de Operación - MiBilletera{% endblock %}

{% block content %}
<div class="container my-4">
    <h2 class="mb-4">Nueva / Editar Operación</h2>

    <form method="post" novalidate>
        {% csrf_token %}

        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}

            {% if field.help_text %}
            <div class="form-text text-light">{{ field.help_text }}</div>
            {% endif %}

            {% for error in field.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="d-flex justify-content-between mt-3">
            <a href="{% url 'lista_operaciones' %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}