{% extends 'base.html' %}

{% block title %}Operaciones - MiBilletera{% endblock %}

{% block content %}
<div class="container my-4 d-flex flex-column align-items-center">

    <div class="d-flex justify-content-between align-items-center mb-3 w-75">
        <h2>Operaciones</h2>
        <a href="{% url 'crear_operacion' %}" class="btn btn-success btn-sm">Nueva Operación</a>
    </div>

    <div class="table-responsive w-75">
        <table class="table table-dark table-striped table-hover text-center mb-0">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Tipo</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for op in operaciones %}
                <tr>
                    <td>{{ op.usuario.nombre }}</td>
                    <td>{{ op.tipo }}</td>
                    <td>${{ op.monto }}</td>
                    <td>{{ op.fecha }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}